body {
  background-color: #54704a;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#wrap {
  width: 80%;
  margin: auto;
  height: max-content;
  background-color: #b5b67c;
  overflow: hidden;
}

#header {
  text-align: right;
  height: 80px;
  background-color: #b5b67c;
}

#nav {
  background-color: #689d59;
  height: max-content;
  padding: 10px;
  border-bottom: dashed 3px white;
}

#sidebar {
  font-size: smaller;
  width: 20%;
  height: 100%;
  background-color: #b5b67c;
  float: right;
  clear: both;
}

#content {
  width: 80%;
  height: 100%;
  background-color: #738f69;
  float: left;
}

#footer {
  display: inline-block;
  background-color: #689d59;
  width: 100%;
  text-align: center;
  color: #414141;
}

ul {
  margin: 0;
}

#content ul {
  padding-bottom: 10px;
}

#nav ul {
  padding-left: 10px;
}
#nav li {
  display: inline;
}

#content li {
  list-style-type: none;
  text-align: center;
  color: #414141;
}

#content p {
  padding: 0 10px 0 10px;
  font: 0.8em verdana;
  color: #414141;
}

h1 {
  margin-top: 0;
  padding: 15 20 10 10;
  color: #414141;
}

#content h1 {
  margin-bottom: 0;
  padding: 25 10 0 10;
}

h2 {
  font-size: small;
  text-align: center;
}

#nav a {
  text-decoration: none;
  color: #00c;
}

#nav a:visited {
  decoration: none;
}

#nav ul::first-letter {
  text-transform: lowercase;
}
#nav ul > :first-child {
  color: yellow;
}
